body {
  background: rgb(209, 215, 79);
  background: -moz-radial-gradient(
    circle,
    rgba(209, 215, 79, 1) 0%,
    rgba(231, 145, 68, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(209, 215, 79, 1) 0%,
    rgba(231, 145, 68, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(209, 215, 79, 1) 0%,
    rgba(231, 145, 68, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1d74f",endColorstr="#e79144",GradientType=1);
}
